cluster:
  enabled: true
  server_address: {{ static_ip }}:8443
  cluster_token: "{{ join_token }}"
  member_config:
    - entity: storage-pool
      name: {{ incus_storage_pool }}
      key: source
      value: "{{ incus_storage_device | default('') }}"
